[submodule "tip-calculator-app"]
	path = tip-calculator-app
	url = https://github.com/Pranav-Rustagi/tip-calculator-app
[submodule "launch-countdown-timer"]
	path = launch-countdown-timer
	url = https://github.com/Pranav-Rustagi/launch-countdown-timer
